body {
    background-color: #999966;
    padding:0;
    margin:0;
}

.top-corner {
    display: inline-block;
    margin-left: 3%;
    margin-top: 2%;
    display: inline-block;
    color: white;
    text-shadow:1px 1px black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 0.1em;
    font-size: small;
    font-weight: 100;
}

.home {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    letter-spacing: 0.1em;
    text-shadow: 1px 1px black;
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
    transition-duration: 0.4s;
  }
  .home:hover {
    color: black;
  }

  .home-button {
    display: inline-block;
    margin-left: 92%;
  }

  h1 {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 0.1em;
    font-weight: 100;
    font-size:55px;
    text-shadow:1px 1px black;
    text-align: center;
  }

  .description {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
    text-shadow: .5px .5px black;
    letter-spacing: 0.1em;
    font-size: x-large;
    text-align: center;
  }

  .content {
    padding-bottom: 3%;
  }

  .pictures {
    display: flex;
    align-items: center;
    width: 100vw;
  }

  