
  *,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    font-family: Georgia, serif;
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    to right,
    #666633 0%,
    #666633 50%,
    #999966 50%,
    #999966 100%
  );
    /* background: #999966; */
}

h1 {
    color: black;
    display: inline-block;
    margin-top: 23%;
    margin-left: 60%;
}
